<!--
<ul style="list-style: none;">
    <li><a href="html">HTML</a></li>
    <li><a href="question">JAVA</a></li>
    <li><a href="javascript">JAVASCRIPT</a></li>
    <li><a href="angular">ANGULAR</a></li>
  </ul>
-->
  <div class="container" style="margin-top: 60px;">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="../../assets/image/javascript.jfif">
          <div class="card-body">
            <h4 class="card-title">JAVASCRIPT</h4>
            <a href="javascript" class="btn btn-primary">START TEST</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="../../assets/image/html.jpg">
          <div class="card-body">
            <h4 class="card-title">HTML</h4>
            <a href="html" class="btn btn-primary">START TEST</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="../../assets/image/angular.jpg">
          <div class="card-body">
            <h4 class="card-title">ANGULAR</h4>
            <a href="angular" class="btn btn-primary">START TEST</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="../../assets/image/typescript.png">
          <div class="card-body">
            <h4 class="card-title">TYPESCRIPT</h4>
            <a href="question" class="btn btn-primary">START TEST</a>
          </div>
        </div>
      </div>
    </div>
  </div>